
   
<div class="bigtitle">
    <h1>Welcome</h1>
</div>

<div style="overflow:auto">
    <div class="menu">
        <a href="#">Top News</a>
        <a href="#">Top News</a>
        <a href="#">Top News</a>
        <a href="#">Top News</a>
    </div>
    <div class="main">
        <h2>Title Here</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="right">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
</div>

<div class="homepageFooter">Important wrote</div>